.ui-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 17px 65px;
  width: 100%;
  min-height: 56px;
  min-width: 180px;

  border-radius: 6px;
  background-color: #0880ae;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08),
    0px 4px 8px rgba(44, 39, 56, 0.08);

  font-weight: 500;
  color: #ebf4f8;

  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.08),
      0px 24px 48px rgba(44, 39, 56, 0.16);
  }

  &:focus {
    border: 2px solid rgba(44, 39, 56, 0.86);
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 4px 8px rgba(44, 39, 56, 0.08);
  }

  &:disabled {
    background-color: #dbe2ea;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);

    color: #2C2738;
    opacity: 0.5;

    cursor: not-allowed;
  }
}
